@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* -- RESET STYLI -- */

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  font-size: 10px;
}
/* -- COLORS -- */

:root {
  --main-color:#FFE0D6;
  --footer-color:#77B2F8; 
  --express-card-color:#B9D9FF;
  --premium-card-color: #FFF388;
  --text-color:#333;
  --express-btn:#fff;
}

/* -- HEADER -- */

 header {
  background-color: var(--main-color);
}

.h1-hero {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
  color: var(--text-color);
  padding-bottom: 32px;
  width: 555px;
}

.hero-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.express-reservation-btn {
  background-color: var(--express-btn);
  border: 1px solid var(--text-color);

}
.red-ice-cream-container {
  width: 510px;
}
.yellow-ice-cream-container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.call-to-us {
  grid-column-start: 3;
}

.call-to-us button {
  background-color: var(--express-btn);
  border: 1px solid #000000;
  border-radius: 16px;
  position: relative;
  padding: 10px 12px 11px;
  gap: 10px;
  cursor: pointer;
  width: 169px;
  height: 53px;
  font-size: 12px;

}


/* -- MENU -- */
.p-nav {
  color: var(--express-card-color);
  position: relative;
  margin-left: 300px;
  margin-top: 10px;
  font-size: 12px;
}

.navigation-container {
  display: flex;
  font-size: 19px;
  justify-content: space-between;
  padding-top: 22px;
  padding-left:38px;
}
  
.left-nav-btn {
  display: block;
  cursor: pointer;
  width: 66px; 
  height: 36px; 
  background: #FFFFFF;
  border: 1px solid var(--text-color);
  border-radius: 16px;
  font-size: 12px;
}

.express-reservation-btn,
.premium-reservation-btn {
  padding: 10px;
  margin-left: 10px;
  margin-right: 38px;
  border-radius: 16px;
  width: 169px;
  height: 37px;
  cursor: pointer;
  font-size: 12px;
}

.premium-reservation-btn {
  background-color: var(--text-color);
  color: var(--express-btn);
  border: none;
}

