
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


/* -- RESET STYLI -- */

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* -- COLORS -- */

:root {
  --main-color:#FFE0D6;
  --footer-color:#77B2F8; 
  --express-card-color:#B9D9FF;
  --premium-card-color: rgba(255, 243, 136, 0.4);;
  --text-color:#333;
  --express-btn:#fff;
  --reservation-section:linear-gradient(180deg, #FFE0D6 42.19%, #FFF388 100%);
  --p-nav-color: #77B2F8;
}

/* -- HEADER -- */

 header {
  background-color: var(--main-color);
}

.h1-hero {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  color: var(--text-color);
  padding-bottom: 32px;
  width: 555px;
}

.hero-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.3fr;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.express-reservation-btn {
  background-color: var(--express-btn);
  border: 1px solid var(--text-color);

}
.red-ice-cream-container {
  width: 510px;
}
.yellow-ice-cream-container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.call-to-us {
  grid-column-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-us button {
  background-color: var(--express-btn);
  border: 1px solid #000000;
  border-radius: 16px;
  position: relative;
  padding: 10px 12px 11px;
  gap: 10px;
  cursor: pointer;
  width: 169px;
  height: 53px;
  font-size: 12px;
}

/* -- MENU -- */

.p-nav {
  color: var(--p-nav-color);
  position: relative;
  margin-left: 300px;
  margin-top: 10px;
  font-size: 12px;
}

.navigation-container {
  display: flex;
  font-size: 19px;
  justify-content: space-between;
  padding-top: 22px;
  padding-left:38px;
}
  
.left-nav-btn {
  display: block;
  cursor: pointer;
  width: 66px; 
  height: 36px; 
  background: #FFFFFF;
  border: 1px solid var(--text-color);
  border-radius: 16px;
  font-size: 12px;
}

.express-reservation-btn,
.premium-reservation-btn {
  padding: 10px;
  margin-left: 10px;
  margin-right: 38px;
  border-radius: 16px;
  width: 169px;
  height: 37px;
  cursor: pointer;
  font-size: 12px;
}

.premium-reservation-btn {
  background-color: var(--text-color);
  color: var(--express-btn);
  border: none;
}


/* -- RESERVATION OPTIONS SECTION -- */

.reservation-options-container {
  display: grid;
  grid-template-columns: 22.5% 55% 22.5%;
  grid-template-rows: auto;
  background: linear-gradient(180deg, #FFE0D6 42.19%, #FFF388 100%);
}

.h2-reservation {
  display: grid;
  grid-column-start: 2;
  justify-content: center;
}

.h2-reservation h2 {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 32px;
}

.h2-reservation p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 150px;
  line-height: 28px;
}

.offer-cards {
  grid-column-start:2 ;
  grid-row-end: 3;
  display: flex;
  justify-self: center;
  gap:24px;
  margin-bottom: 200px;
}
.call-us-end {
  display: flex;
  background-color: #FFF095;
  justify-content: flex-end;
  padding-right: 150px;
}

.offer-cards div {
  width: 437px;
  height: 700px;
  border-radius: 16px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.express-card{
  background: var(--express-card-color);

}

.premium-card{
  background: var(--premium-card-color);
}

.reservation-options img {
  position:absolute;
  top: 110vh;
  right: 0;
}

.cards-content p {
  padding:30px 20px 10px 40px;
  font-weight: 700;
}

.reserv-type {
  margin:10px 40px 10px 40px;
  font-size: 48px;
  border-bottom: 1px solid #999999;
  padding-bottom: 20px;
}

.reserv-price {
  padding:10px 20px 10px 40px;
  font-size: 48px;
}

.btn-white {
  margin:10px 40px 10px 40px;
}

.prefer-time {
  font-weight: 300 !important;
  border-bottom: 1px solid #999999;
  margin-left: 40px;
  margin-right: 40px;
  padding:20px 20px 10px 10px !important;
}

.reserv-list {
  margin:20px 40px 10px 50px;
  line-height: 25px;
  list-style-type: disc;
  font-weight: 300;
}
/* -- WHY CHOOSE US SECTION -- */

.why-choose-us-section {
  background-color: #FFF095;
}

.h2-choose-us {
  margin-left:44px;
  padding-top: 65px;
}

.h2-choose-us h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.benefits {
  display: flex;
  justify-content: center;
  gap:70px;
  padding-bottom:81px ;
}

.benefits h2 {
  font-size: 100px;
  text-align: center;
  margin-bottom: 35px;
}

.benefits p {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.benefits div {
  width: 323px;
  height: 232px;
  margin-top:60px ;
}

/* -- OPINIONS SECTION -- */

.opinions-section {
  background:linear-gradient(180deg, #FFF095 0%, #FFE0D6 100%);;
}

.opinions-title {
  position: relative;
  padding-top: 135px;
  padding-bottom: 60px;
}

.opinions-title h2 {
  font-size: 64px;
  text-align: center;
  font-weight: 400;
  padding-bottom:32px ;
}

.opinions-title p {
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}

.users-opinions {
  display: grid;
  grid-template-columns: 330px 555px 440px;
  grid-template-rows: 330px 510px;
  grid-gap: 10px;
  justify-content: center;
  gap: 17px;
  padding-bottom: 200px;
}

.user-opinion {
  background: #FFFFFF;
  box-shadow: 19px 109px 44px rgba(0, 0, 0, 0.01), 11px 62px 38px rgba(0, 0, 0, 0.05), 5px 27px 28px rgba(0, 0, 0, 0.09), 1px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 10% 10% 10%

}

.user-opinion p {
  font-size: 20px;
  line-height:35px ;
}

.users-opinions > div:nth-child(3){
  grid-column: span 1;
  grid-row: span 2;
}

.users-opinions > div:nth-child(4){
  grid-column: span 2;
  grid-row: span 1;
}

/* -- FOOTER SECTION -- */

footer {
  background-color: #FFE0D6;
  color: var(--footer-color);
}

.footer-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  flex: 0 0 auto;
  margin:20px 100px 20px 80px;
}

.footer-menu-container > div:not(.footer-logo) {
  flex: 1;
}

ul {
  list-style-type: none;
}
 
ul a {
  text-decoration: none;
  color:var(--footer-color);
  font-size: 16px;
  line-height: 30px;
}

.footer-h3 {
  line-height: 130px;
  font-size: 72px;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  gap:15px;
  margin-bottom: 54px;
  margin-top:10px;
}
.footer-express-btn {
  margin-top: 47px ;
  margin-left:180px;
}

.footer-contact p:nth-of-type(1) {
  font-size: 36px;
  font-weight: 700;
}
.footer-contact p:nth-of-type(2) {
  font-size: 24px;
  font-weight: 700;
}
.footer-contact p:nth-of-type(3) {
  margin-top: 25px;
}
.footer-premium-btn {
  margin-left:-15px;
}

.address p {
  line-height: 30px;
}
.address {
  margin-bottom: 125px;
}

.footer-end {
  height: 50px;
  border-bottom: 1px solid #B9D9FF;
  margin-left: 40px;
  margin-right: 40px;
}
#nav-overlay {
  display: none;
  position: absolute;
  width: 348px;
  height: 655px;
  left: 0px;
  top: 43px;
  background: #77B2F8;
  box-shadow: 0px 110px 44px rgba(0, 0, 0, 0.01), 0px 62px 37px rgba(0, 0, 0, 0.05), 0px 28px 28px rgba(0, 0, 0, 0.09), 0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.fade-in { animation: fadeIn 1s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.close {
  position: absolute;
  width: 15px;
  height: 13.76px;
  left: 45px;
  top: 45.87px;
}
.close:hover {
  background-color: rgba(0,0,0,0.5);
}
.littlemenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 263px;
  height: 248px;
  left: 40px;
  top: 121px;
}
.spacer {
  position: absolute;
  width: 268px;
  height: 1px;
  left: 40px;
  top: 409px;
  background: #DBDBDB;
}
.booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  position: absolute;
  width: 169px;
  height: 94px;
  left: calc(50% - 169px/2 - 0.5px);
  top: 460px;
}
.lmoptions {

/* Desktop/Akapit */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.lmoptions a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  /* identical to box height, or 150% */
  
  text-align: center;
  
  color: #FFFFFF;
}
